body {
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    margin-top: 10px;
    overflow: hidden;
  }

#character {
    width: 100px;
    height: 100px;
}
.filterC {
    border-style:solid;
    border-width: 3px;
    text-align: center;
    width: 100px;
    height: 150x;
    font-size: 15px;
    overflow: auto;
    display: none;
}

.show {
    display: block;
}

